@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #10b981;
  --primary-foreground: #ffffff;
  --sidebar-background: #f0fdf4; /* Emerald 50 */
  --sidebar-foreground: #064e3b; /* Emerald 900 */
  --sidebar-active: #d1fae5; /* Emerald 100 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-active: var(--sidebar-active);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #34d399; /* Emerald 400 */
    --primary-foreground: #022c22;
    --sidebar-background: #064e3b; /* Emerald 900 */
    --sidebar-foreground: #ecfdf5; /* Emerald 50 */
    --sidebar-active: #065f46; /* Emerald 800 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
